<module>
	<rawname>queuemetrics</rawname>
	<repo>commercial</repo>
	<name>Queue Metrics</name>
	<version>2.10.0.2</version>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2</license>
	<category>Settings</category>
	<description>A module for Queue Metrics, that allow you to set if IVR selections should be logged to the queue logs.</description>
	<depends>
		<module>ivr ge 2.11.0.0</module>
                <version>2.11.0alpha1</version>
                <phpversion>5.3.0</phpversion>
	</depends>
	<menuitems>
		<queuemetrics>Queue Metrics</queuemetrics>
	</menuitems>
	<changelog>
		*2.10.0.2* Need to log to NONE for queuename for QueueMetrics
		*2.10.0.1* Change the way data is logged for QueueMetrics
		*2.10.0.0* First Implementation
	</changelog>
	<location>release/2.10/extensionroutes-2.10.0.5.tgz</location>
	<md5sum>61c0d372b4019ad0839331a1bda54194</md5sum>
</module>
